@font-face {
  font-family: "zmaili";
  src: url(../fonts/zmail.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
[class*=zmaili-],
[class^=zmaili-] {
  display: inline-block;
  font-family: "zmaili";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}
.zmail-settings {
	background-color: white;
	padding: 50px 0px;
}
.zmaili-angle-down:before {
  content: "\e900";
}
.zmaili-circle-check:before {
  content: "\e901";
}
.zmaili-circle-info:before {
  content: "\e902";
}
.zmaili-circle-info:after {
  margin-left: -1em;
  content: "\e903";
}
.zmaili-close:before {
  content: "\e904";
}
.zmaili-logo:before {
  content: "\e905";
  color: rgb(34, 109, 180);
}
.zmaili-logo::after {
  content: "\e906";
  margin-left: -1em;
  color: rgb(249, 178, 29);
}

body {
  font-family: Lato, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
}

.zmail-logo {
  display: flex;
  gap: 10px;
  line-height: 1;
  align-items: center;
  margin: 20px 0px;
}
.zmail-logo i {
  font-size: 2.625rem;
}
.zmail-logo h2 {
  margin: 0;
  font-size: 1.25rem;
}
.zmail-logo span {
  font-size: 0.6875rem;
}
.zmail-main {
  font-size: 0.875rem;
  border-radius: 8px;
  width: var(--zmail-widget-width, 415px);
  border: 1px solid #d0d0d0;
  margin: 0 auto;
  background-color:white;
}
.zmailaccordion__trigger {
  color: #000;
  padding: 24px 24px 12px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  gap: 10px;
}
.zmail-accordion-disabled .zmailaccordion__trigger {
	color: #777777
}
.zmailaccordion__trigger--collapsed {
  border-top: 1px solid #e3e3e3;
  padding-bottom: 24px;
}
.zmailaccordion__trigger--collapsed:first-child {
  border-top: none;
}
.zmailaccordion__trigger--configured {
  color: #000;
}
.zmailaccordion__trigger--expanded .zmaili-angle-down {
  transform: rotate(180deg);
}
.zmailaccordion__trigger--configured {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 24px;
}
.zmailaccordion__trigger .zmaili-angle-down {
  font-size: 1.5rem;
}
.zmailaccordion__content {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 102px;
  font-size:14px;
  gap: 24px;
}
.zmailaccordion__title {
  flex: 1;
  text-align: left;
}
.zmailsetup-status {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 1.4;
}
.zmailsetup-status--completed {
  color: #198019;
  font-weight: 400;
  gap: 8px;
}
.zmailsetup-status--completed i {
  font-size: 1.25rem;
}
.zmailaccordion__trigger--expanded .zmailsetup-status--completed {
  display:none;
}
.zmailaccordion__trigger:active {
  background-color: transparent;
}
html[dir=ltr] .zmailsetup-status--completed {
  margin-left: auto;
}
html[dir=rtl] .zmailsetup-status--completed {
  margin-left: auto;
}
.zmailsetup-step-desc {
  font-size: 1.3rem;
  line-height: 1.4;
}
.zmailform-element {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}
.zmailform-element-block {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.zmailform-element-block--column {
  flex-direction: column;
  gap: 12px;
  align-items: normal;
}
.zmailinput-label {
  font-weight: bold;
  margin-bottom: 12px;
  display: flex;
  padding: 0;
}
.zmailinput-helptext {
  margin: 6px 0 0;
  font-size: 0.6875rem;
  font-style: italic;
}
.zmailinput-helptext--error {
  color: #c94242;
}
.zmailinput-helptext--success {
  color: #198019;
}
.zmailinput-helptext--default {
  color: #444444;
}
.zmailinput-group {
  display: flex;
  gap: 24px;
}
.zmailtext {
  border: 1px solid #e2e2e2;
  border-radius: 6px;
}
.zmailtext__box {
  padding: 8px 12px;
  flex: 1;
  border: none;
  border-radius: 6px;
}
.zmailtext-field-wrapper {
  display: flex;
}
.zmailtext__adorn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}
.zmailtext__adorn .zmaili-angle-down {
  font-size: 1.25rem;
}
.zmailtext--unstyled {
  border: none;
}
.zmailtext--error {
  border-color: #c94242;
}
.zmailselect {
  cursor: pointer;
}
.zmailselect__box {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 6px;
}
.zmailselect__box:focus {
  outline: 1px solid #264ded;
}
.zmailselect__box:empty::before {
  color: #777777;
  content: attr(data-placeholder);
  font-size: 13px;
}
.zmailbtn {
  background-color: #264ded;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 8px 12px;
  transition: 0.3s background-color;
  cursor: pointer;
}
.zmailbtn:hover {
  cursor: pointer;
  background-color: #0e39e4;
}
.zmailbtn--flat {
  background-color: transparent;
  color: #264ded;
}
.zmailbtn--flat:hover {
  background-color: #eaf1ff;
}
.zmailbtn--default {
  color: #9d9d9d;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zmailbtn--default:hover {
  background-color: #e3e3e3;
}
.zmailbtn--outlined {
  border: 1px solid #264ded;
}
.zmailbtn--sm {
  padding: 2px 3px;
}
.zmailbtn--md {
  padding: 5px 8px;
}
.zmailbtn--italic {
  font-style: italic;
  font-size: 0.6875rem;
}
.zmailbtn:disabled {
  border-color: #e3e3e3;
  color: #e3e3e3;
  cursor: default;
  background-color: #fff;
}
.zmailbtn__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zmailbtn-block {
  display: flex;
  gap: 16px;
}
.zmailcheckbox input:not(:disabled) {
  cursor: pointer;
}
.zmail-form-label-info-icon {
  --zmci-font-size: 0.75rem;
  color: #777777;
  padding: 2px;
  border-radius: 3px;
}
html[dir=ltr] .zmail-form-label-info-icon {
  margin-left: 5px;
}
html[dir=rtl] .zmail-form-label-info-icon {
  margin-right: 5px;
}
.zmail-form-label-info-icon:hover, .zmail-form-label-info-icon:focus {
  background-color: #e3e3e3;
  cursor: pointer;
  color: #000;
  transition: 0.3s background-color ease-in-out;
}
.zmailinput-control-label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.zmailinput-control-label input[type=radio] {
  margin: 0;
  transform: scale(1.2);
}
.zmailaddress-btn-wra {
  position: absolute;
  right: 0;
  top: 0;
}
.zmailaddress-btn-btm {
  position: absolute;
  right: 0;
  bottom: -20px;
}
.zmailpopover {
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  width: 486px;
  font-size: 0.875rem;
  background-color: #fff;
  
}
.zmailpopover__content {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.zmailpopover__header {
  padding: 20px 20px 12px;
  display: flex;
}
.zmailpopover__header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.zmailpopover__header__actions {
  margin-left: auto;
}

.zmail-accordion-inactive .zmailaccordion__content {
	display: none;
}
.zmail-accordion-inactive .zmaili-angle-down {
  transform: rotate(0deg);
}
.zmail-accordion-active .zmailaccordion__content {
	display: flex;
}
.zmail-checkbox-inactive .zmailform-element {
	display: none;
}
.zmail-checkbox-active .zmailform-element {
	display: block;
}
.zmail-accordion-active .zmailaccordion__trigger--expanded {
  color: #000;
}
.zmailtext-field-wrapper select {
  width:100%
}
.zmail-dispNone {
	display:none;
}
.zmail-accordion-disabled .zmaili-angle-down{
	display:none;
}
.zmail-accordion-disabled .zmailaccordion__trigger {
	cursor:text;
}
.zmail-tab-space{
	margin-left: 40px;
}
.loading-spinner {
  width: 16px;
  height: 16px;
  padding: 5px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  float: left;
  margin-left: 10px;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}