<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Config\ScopeConfigInterface">
        <plugin name="Zoho_ZohoMail_override_config_value" type="Zoho\ZohoMail\Plugin\ConfigPlugin" />
    </type>
	<preference for="\Magento\Framework\Mail\TransportInterface" type="Zoho\ZohoMail\Mail\Transport" />
</config>
